#wrap {
    padding: 0 0 0;
}

.modifyPassword-content .info .btn-wrapper {
    position: relative;
}

.modifyPassword-content {
    padding-left: 100px;
}

.setting-item {
    overflow: hidden;
}

.modifyPassword-content .info .item-msg {
    margin-left: 120px;
    width: 190px;
}

#header {
    padding: 0;
}

.logo .companyName {
    font-size: 13px;
    color: #4b4b4b;
}

.logo .sep {
    margin-left: 8px;
    margin-right: 10px;
}

.footer_content {
    border-top: 2px solid #949799;
    color: #606060;
    margin: 0 auto;
    padding-top: 13px;
    position: relative;
    text-align: center;
    width: 1024px;
    font-family: '微软雅黑', sans-serif;
}

/**解决邮件中打开效果与浏览器打开效果不一致问题**/
.mo-dialog-content .setting-item-main {
    display: inline-block;
    margin-left: 0px;
}

.newPasswordTip,
.confirmPasswordTip {
    display: inline-block;

}
