@charset "utf-8";
body{
	background: url("img/login-bg.png?t=5.0.0.0.2837048935") repeat-x scroll 0 0 #E8EEF2;
	margin:0;
}
div#wrap {
	font-family: "Microsoft Yahei", 'Microsoft YaHei','SimSun'，tahoma, arial;
	width:1024px;
	margin:0 auto;
}
#head-nav{
	height: 95px;
	left: 0;
	width: 100%;
	top: 0px;
	border-bottom: 1px solid #949799;
}
#head-nav .logo{
	background: url("img/keda_logo.png?t=5.0.0.0.26995772") no-repeat scroll  transparent;
	width: 235px;
	height: 95px;
}
#main {
	height:550px;
	width: 100%;
	border-bottom: 2px solid #949799;
}
#main .angel{
	background: url("img/angel.png?t=5.0.0.0.4011894937") no-repeat scroll  transparent;
	width: 250px;
	height: 250px;
	margin: 63px 0 0 157px;
}
#main .msg{
	margin-bottom:18px;
	color:#4e4e4e;
}
#home{
	color:#007ac0;
	text-decoration: underline;
}
#main .dt1{
	font-size:20px;
	color:#d21e1e;
	margin-bottom:17px;
}
#main .dt2{
	font-size:12px;
	color: #4e4e4e;
	margin-bottom:18px;
}
#main .dt2mb{
	font-size:12px;
	color: #d21e1e;
	margin-top: 35px;
    margin-bottom: 35px;
	
}
#main .dt3{
	font-size:150px;
	color:#efefef;
	position: relative;
	right: 15px;
}
#font_color{
	color:#007ac0;
}
