.mo-icons-logo-bg{
	background: url(../../images/home/telecom/home_img.png?t=6.0.2047479823) no-repeat;
}
.sys-info .header-logo{
    display: inline-block;
    height: 31px;
    width: 116px;
    background-position: 2px -1028px;
    margin-top:14px;
    float: left;
    cursor: pointer;
}
.slash{
	background-position: 0px -25px;
    height: 18px;
    width: 9px;
}
.company-header-title {
    height: 13px;
    line-height: 13px;
    font-size: 13px;
}
.about_company_logo{
	height: 31px;
    width: 116px;
    background-position: -124px -1028px;
}
.about_company-alternate-logo{
	display:none;
}
.about_netAddress1{
	color: #007ac0;
    text-decoration: underline;
    font-family: Microsoft YaHei;
    margin-left: 15px;
}
.about_netAddress11{
	display:none;
}
.about_netAddress2{
	display:none;
}
#about_info .about_corpright{
	font-size: 14px;
    width: 330px;
    line-height: 14px;
}
