*,html{
    font-size: 12px;
    font-family: 'Microsoft YaHei';
    color: #4e4e4e;
}
body,ul, ol { list-style: none outside none;
    margin:0px; padding: 0px}
body{
    font-family: "Microsoft YaHei" ! important;
}
/*头部样式*/
.mo-icons-bg{
	background:url("~images/home_img2.png");
}

.header{
    height: 146px;
    position: relative;
    /*margin-left: 67px;
    margin-right: 67px;*/
}

.header-wrapper{
    background:#373d41;
    min-width: 1146px;
    padding-left: 67px;
    padding-right: 67px;
    margin-bottom: 30px;
}
.sys-info{
    display: block;
    float:left;
}

.slash{
    display:inline-block;
    margin-top:18px;
    margin-left:6px;
    background-position: 0px -27px;
    height: 15px;
    width: 9px;
    float: left;
}
.company-header-title{
    display: inline-block;
    font-size: 13px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 8px;
    height: 13px;
    line-height: 13px;
    margin-top: 21px;
    float: left;
    cursor: pointer;
}
.header-info{
    float:right;
    margin-top:15px;
}
.user-info{
    margin-right:18px;
}


.email,.setting,.logout{
    display: inline-block;
    height: 24px;
    width: 24px;
    float: left;
    cursor: pointer;
}
.mo-icons-bg.email{
    background-position: 0px -87px;
}
.mo-icons-bg.email:hover{
    background-position: -34px -87px;
}
.mo-icons-bg.setting{
    background-position: 0px -121px;
    margin-left:10px;
}
.mo-icons-bg.setting:hover{
    background-position: -34px -121px;
}
.mo-icons-bg.logout{
    background-position: 0px -155px;
    margin-left:10px;
}
.mo-icons-bg.logout:hover{
    background-position: -34px -155px;
}

.modules a:hover,.modules a:focus{
    text-decoration: none;
}
.module-entry-wrapper{
    /*margin: 46px auto 0px auto;*/
    padding-top:46px;
}
.modules{
    margin: 0px auto;
}
.module{
    display:inline-block;
    width: 163px;
    height:90px;
    text-align: center;
    float: left;
}
.module:hover{
    background-color: #1e94da;
}
.module.disable:hover{
    background-color: #373d41;
}
.module-bg{
    height: 42px;
    width:42px;
    margin:0px auto;
    margin-top: 15px;
    margin-bottom: 7px;
}
.module-bg.amc{
    background-position: 0px -189px;
}
.disable .module-bg.amc{
    background-position: 0px -680px;
}
.module-bg.bmc{
    background-position: -52px -189px;
}

.disable .module-bg.bmc{
    background-position: -52px -680px;
}
.module-bg.nms{
    background-position: -104px -189px;
}
.disable .module-bg.nms{
    background-position: -104px -680px;
}
.module-bg.cmc{
    background-position: -156px -189px;
}
.disable .module-bg.cmc{
    background-position: -156px -680px;
}
.module-bg.vrs{
    background-position: -208px -189px;
}
.disable .module-bg.vrs{
    background-position: -208px -680px;
}
.module-bg.live{
    background-position: -208px -189px;
}
.disable .module-bg.live{
    background-position: -208px -680px;
}
.module-bg.jms{
    background-position: -260px -189px;
}
.disable .module-bg.jms{
    background-position: -260px -680px;
}
.module-bg.umc{
    background-position: -312px -189px;
}
.disable .module-bg.umc{
    background-position: -312px -680px;
}
.module-bg.kis{
    background-position: -364px -189px;
}
.disable .module-bg.kis{
    background-position: -364px -680px;
}
.module-bg.doms{
    background-position: -416px -189px;
}
.disable .module-bg.doms{
    background-position: -416px -680px;
}
.module-bg.cbs{
    background-position: -468px -189px;
}
.disable .module-bg.cbs{
    background-position: -468px -680px;
}

.module-name{
    font-size: 14px;
    color:#FFFFFF;
}
.disable .module-name{
    filter:alpha(opacity=50);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}
/*
*主体部分样式
*/
/*根据屏幕宽度设置主体样式*/
@media (max-width: 1862px){
    .container{
        width: 1280px;
    }
    .row{
        width: 1164px;
    }
    .col-md-4{
        float: left;
        width: 564px;
    }
     .col-md-4.meeting_info{
        clear: left;
    }
    .col-md-4.meeting_info.clear{
    	/* clear: none; */
    }
    .col-md-4.meeting_category_info.clear{
    	/* float:left;
    	clear: none;  */
    }

}
@media (min-width: 1862px){
    .container{
        width: 1862px;
    }
    .row{
        width: 1746px;
    }
    .col-md-4{
        width: 564px;
    }
    .col-md-4.meeting_info.clear{
    	/* clear: left; */
    }
    .col-md-4.meeting_category_info.clear{
    	clear:left;
    }
   
}
*, ::after, ::before {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
main{
    min-width: 1280px;
}

.container {
    max-width: 1862px;
    padding: 0;
    margin: 0 auto;
}
.no-main-panel{
    position: relative;
    height: 100%;
    // display: none;
}
.no-main-panel .no-data{
    width: 90px;
}
.row{
    max-width: 1746px;
    margin: 0 auto;
}
.col-md-4{
    padding: 0;
    margin:10px 9px 10px 9px;
    width: 564px;
    height: 570px;
}
.content_panel{
    width: 562px;
    height: 568px;
    border:1px solid #e2e4e6;
    color: #4e4e4e;
}
#resource_panel,#alarm_panel{
    width: 100%;
    height: 387px;
    border: 1px solid #e2e4e6;
}
#resource_panel{
    margin-bottom:20px;
    height: 163px;
}
.col-md-4.book_meeting_count{
    height: 430px;
}
.content_panel.book_meeting_count{
    height: 428px;
}
.col-md-4.meeting_info{
    height: 430px;
}
.content_panel.meeting_info{
    height: 428px;
}
.col-md-4.meeting_category_info,.col-md-4.live_room,.col-md-4.living{
    height: 430px;
}
.content_panel.meeting_category_info,.content_panel.live_room,.content_panel.living{
    height: 428px;
}
.col-md-4.call_meeting_info,.col-md-4.confirm_meeting_info,.col-md-4.book_meeting_info,.col-md-4.past_meeting_info{
    height: 430px;
}
.content_panel.call_meeting_info,.content_panel.confirm_meeting_info,.content_panel.book_meeting_info,.content_panel.past_meeting_info{
    height: 428px;
}
#call_meeting_info,#confirm_meeting_info,#book_meeting_info,#past_meeting_info{
    height: 394px;
}
.book_meeting_data_container{
	padding-top:14px;
	padding-left:20px;
}
.book_meeting_data_container .value-li{
	float:left;
	width:130px;
}
.book_meeting_data_container .title,.book_meeting_data_container .book_meeting_value{
	display:inline-block;
}
.book_meeting_data_container .title{
	width:50px;
}
.book_meeting_data_container .book_meeting_value{
	font-weight:bold;
}
/*面板头部样式*/
.header-div{
    font-size: 12px;
    height: 34px;
    background-color: #ebedef;
    overflow: hidden;
}
.header-titles{
    margin: 11px 0px 0px 20px;
}
.header-title.active,.header-title.one-title{
    font-weight: bold;
}
.header-title{
    float: left;
    margin-right: 20px;
}
.header-titles,.header-title,.header-titles .header-title span{
    display: inline-block;
    height: 12px;
    line-height: 12px;
}
.tab .header-title{
    cursor:pointer;
}
.header-titles.header-more{
    float: right;
}
.header-titles.header-more .create-meeting-title-li{
    margin-right: 14px;
}
.header-more .create-meeting{
    display: inline-block;
    width: 17px;
    height: 17px;
    background-position: 0px -410px;
    float: left;
    margin-right: 5px;
    margin-top: -2.5px;
}
.header-more .create-meeting:hover{
    background-position: -27px -410px;
}
.header-more .create-meeting+a{
    text-decoration: none;
    color: #2c2c2c;
    font-weight: bold;
}
.header-title a{
    text-decoration: underline;
    color: #127BBE;
    float:left;
}
.header-title.active span{
    height:21px;
    border-bottom: 2px solid #4e4e4e;
}
.more-div{
    float:right;
    font-size:12px;
}
.more{
    color: #127BBE;
}
/*资源负载样式*/
#resource_load .item-resource-wrapper{
    width: 118px;
    height: 100px;
    margin: 0px 10px;
}
#platform_resource .item-resource-wrapper{
    width: 106px;
    height: 100px;
    cursor: pointer;
}
.resource-wrapper{
    margin-top: 10px;

}
#platform_resource .resource-wrapper{
    border-bottom: 1px dotted #e2e4e6;
}
#platform_resource .resource-wrapper.none-border{
	border:none;
}
.resource-content{
    float:left;
    cursor: default;
}
.value{
    font-size: 24px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
}
#resource_load .resource-wrapper .value{
    margin: 16px 2px 11px 41px;
}

.content-wrapper{
    overflow: hidden;
}
#platform_resource .resource-wrapper .value{
    margin: 16px 2px 11px 35px;
}
.unit{
    font-size: 14px;
    height: 14px;
    line-height: 14px;
}
.lessThan85{
    color: #5eb9ef;
}
.moreThan85{
    color: #db4c4c;
}
.number-green {
    color: #09A206;
}
.cut-off-line{
    border-right: 1px solid #e9e9e9;
    height: 80px;
    width: 0px;
    float: left;
    margin-top: 13px;
}
#resource_load_wrapper{
    width: 562px;
    height: 161px;
    border: 1px solid #e2e4e6;
    margin-bottom: 20px;
}
#subscribe_alarm_wrapper{
    width: 562px;
    border: 1px solid #e2e4e6;
    height: 385px;
}
.resource_load #book_meeting_count{
    width: 562px;
    height: 352px;
}
#book_meeting_count_wrapper{
	border: 1px solid #e2e4e6;
}
#resource_load .resource-container{
    padding: 0px 2px 0px 3px;
    height: 100px;
}
.item-resource-wrapper.active .resource_info{
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: 0px -241px;
    vertical-align: middle;
    margin-left: 8px;
}
.item-resource-wrapper.active .resource_info:hover{
    background-position: -25px -241px;
}
.item-resource-wrapper.active .resource_info.click{
    background-position: -50px -241px;
}
#platform_resource .resource-container{
    margin:0px auto;
    height: 100px;
    margin-bottom: 16px;
}
.platform_resource .isPersonalSetting{
	margin-right:4px;
	background:url("~images/checkbox-gray2.png");
}
.platform_resource .isPersonalSetting.checked{
	background-position:0px 0px;
}
.platform_resource .isPersonalSetting.no-checked{
	background-position:0px -14px;
}
.platform_resource .personalSetting{
	display:inline-block;
	margin-top:-5px;
	height:20px;
	width:20px;
	background-position:0px -1075px;
}
.platform_resource .personalSetting:hover{
    cursor: pointer;
    background-position:-30px -1075px;
}
.platform_resource .personalSetting:hover{
    background-position:-60px -1075px;
}
.platform_resource .isPersonalSetting{
	display:inline-block;
	height:14px;
	width:14px;
}
.platform_resource .isPersonalSetting+a{
	color:#4e4e4e;
	text-decoration:none;
	width:112px;
}
.foot-title{
    text-align: center;
    font-size: 12px;
}

.platform_resource .foot-title{
	text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    overflow: hidden;
}
#platform_resource .item-resource-wrapper.active .foot-title span{
    color: #007ac0;
}
#resource_load .resource-load-info-wrapper{
    display: none;
}
.resource-load-info-wrapper{
    position: absolute;
    /* width: 518px; */
    margin-top: 20px;
    z-index: 100;
    border: 1px solid #e2e4e6;
    background-color: #FFFFFF;
}
.item-resource-info-content-wrapper{
    /* height: 288px; */
}
.item-resource-info-content-wrapper.oneRow{
    height:88px;
}
.item-resource-info-content-wrapper.oneRowMedia{
    height:132px;
}
.item-resource-info-content-wrapper.oneRowMedia .row{
    margin-left: -142px;
}
.item-resource-info-content-wrapper.twoRow{
    height:188px;
}
.item-resource-info-content-wrapper.oneRow.twoColumn .row{
	width:344px;
}
.item-resource-info-content-wrapper.oneRowMedia.oneColumnMedia .row{
    width:350px;
}
.item-resource-info-content-wrapper.oneRowMedia.twoColumnMedia .row{
    width:550px;
}
.item-resource-info-content-wrapper.oneRow.oneColumn .row{
	width:172px;
}
#resource_load .resource_info.click+.resource-load-info-wrapper{
    display: inline-block;
}
.resource-load-info-header{
    /*height: 30px;*/
}

.resource-load-info-header .closed{
    float: right;
    display: inline-block;
    height: 13px;
    width: 13px;
    background-position: 0px -626px;
    margin: 5px;
}
.resource-load-info-header .closed:hover{
    cursor: pointer;
    background-position: -23px -626px;
}
.resource-load-info-header .closed:active{
    background-position: -46px -626px;
}
.resource-load-info-content{
    margin: 30px 0px 0px 18px;
}
.item-resource-info-wrapper .row{
    height: 60px;
    width: 500px;
    margin-bottom: 40px;
}
.item-resource-info-wrapper .row:last-child{
    /* margin-bottom: 0px; */
}
.item-resource-info-content{
    width: 60px;
    height: 60px;
    float: left;
}
.item-resource-info-content.magrin-left-112{
    margin-left: 112px;
}
.item-resource-info-content.magrin-left-142{
    margin-left: 142px;
}
.item-resource-info-content .pie{
    width: 60px;
    height: 60px;
    float: left;
}
.item-resource-info-content .pie.pieMedia{
    margin-top: 20px;
}
.item-resource-info-content  .gray-pie{
    position: absolute;
}
.item-resource-info-detail{
    position: absolute;
    margin-left: 69px;
    margin-top: 2px;
    text-align: left;
}

.item-li.item-name{
    margin-bottom: 7px;
    height: 17px;
    line-height: 17px;
}
.item-name,.item-value.used{
    font-size: 14px;
}
.item-li.used-num{
    margin-bottom: 5px;
}
.item-li{
    height: 15px;
    line-height: 15px;
}
.item-title{
    display: inline-block;
    width: 46px;
}
.item-title.item-title-media{
    width: 90px;
}
/*图表公用样式*/
.graph-container{
    position: absolute;
    width:100%;
}
#platform_resource  .graph-content{
	height:377px;
}
.resource_load  #book_meeting_count  .graph-content{
	height:333px;
}
.graph-content{
    width:562px;
    height:407px;
}
.time-adjust-container{
    right:20px;
    overflow: hidden;
    position: absolute;
}
#platform_resource .time-adjust-container{
    top:139px;
}
.platform_resource_graph_value{
    position: absolute;
    right:56px;
    top:38px;

}
.server-li{
	margin-bottom:9px;
}
.server-item{
	display:inline-block;
	width:180px;
	margin-right:15px;
}
.wheel-btn{
	position: absolute;
    text-align: center;
    width: 562px;
    height: 6px;
    line-height: 6px;
    top: 150px;
}
.wheel-btn span{
	width: 14px;
    height: 6px;
    display: inline-block;
    background-position: -24px -1187px;
    vertical-align: top;
}
.wheel-btn span.active{
    background-position: 0px -1187px;
}
.platform-resource-detail label{
	font-weight:200;
	margin-bottom:0px;
}
.platform-resource-detail{
	position:absolute;
	bottom:27px;
	margin-left:20px;
}
.server-detail{
	margin-left:5px;
}
#meeting_count .time-adjust-container{
    top:123px;
}

.time-minus-plus{
    float: right;
}
.plus,.minus{
    height: 26px;
    width: 26px;
    cursor:pointer
}
.mo-icons-bg.plus{
    background-position: 0px -302px;
}
.mo-icons-bg.plus:hover{
    background-position: -36px -302px;
}
.mo-icons-bg.minus{
    background-position: 0px -266px;
}
.mo-icons-bg.minus:hover{
    background-position: -36px -266px;
}
.time-move-container{
    position: absolute;
    width: 100%;
}
#platform_resource .time-move-container{
    bottom: 86px;
}
#meeting_count .time-move-container{
    bottom: 65px;
}

.time-left-move{
    float: left;
    margin-left: 23px;
}
.time-right-move{
    float: right;
    margin-right:20px;
}
.time-title{
    margin: 19px 0px 19px 0px;
    font-size:12px;
    height: 12px;
    line-height: 12px;
}
.time-minus-plus span{
    display: block;
}
.leftMove,.rightMove{
    height: 26px;
    width: 26px;
    cursor:pointer
}
.mo-icons-bg.leftMove{
    background-position: 0px -338px;
}
.mo-icons-bg.leftMove:hover{
    background-position: -36px -338px;
}
.mo-icons-bg.rightMove{
    background-position: 0px -374px;
}
.mo-icons-bg.rightMove:hover{
    background-position: -36px -374px;
}
/*终端统计的详情样式*/
.description{
    margin-top:412px;
}
.meeting-count-info-content{
    padding-left: 68px;
}
.description-item{
    display: block;
    height: 12px;
    line-height: 12px;
    margin-bottom: 15px;
    font-size: 12px;
}
.description-item.description-item-header{
    height: 20px;
    line-height: 20px;
    padding-bottom: 5px;
}
.description-blank{
    height: 1px;
}
.description-item span{
    display: inline-block;
}
.count-header-title.name1{
    background-color: #5eb9ef;
}
.terminal .count-header-title.name3{
	background-color:#db4c4c;
}
.multi-point-title,.point-point-title{
    color: #FFFFFF;
}

.count-header-title.name2{
    background-color: #09a206;
}
.name1,.name2,.name3{
    text-align: center;
}
.name1{
    width: 64px;
    float: left;
}

.name2{
    width: 77px;
    float: left;
    margin-left: 60px;
}
.terminal .name3{
	width:40px;
	float:left;
	margin-left:52px;
}
.terminal .name1,.terminal .name2{
	width:60px;
}
.terminal .name2{
	margin-left:52px;
}

.count-title,.description-blank{
    width: 162px;
    text-align: left;
    float: left;
}

.multi-point-title,.point-point-title{
    color: #FFFFFF;
}

/*********** 告警信息样式 ************/
#subscribe_alarm{
    height: 351px;
}
#subscribe_alarm td[field="start_time"],#subscribe_alarm td[field="device_name"],#subscribe_alarm td[field="name"],
#meeting_category_info td[field="name"],#meeting_info td[field="name"],
#call_meeting_info td[field="name"],#confirm_meeting_info td[field="name"],
#book_meeting_info td[field="name"],#past_meeting_info td[field="name"]{
    padding-right: 15px;
}
#subscribe_alarm tr,#meeting_category_info tr{
    display: inline-table;
    margin-bottom: 9px;
    margin-bottom: 0\9; /*****IE8兼容问题******/
}
.grid_td-item{
    width: 100%;
    height: 21px;
    line-height: 21px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-break:keep-all;
    overflow: hidden;
}

/*********easyui的样式变更-会议日程和传统会议等************/
.panel{
    -webkit-box-shadow:none;
    box-shadow: none;
    /*height: 100%;*/
}
.datagrid-body,.pagination{
    width: 522px\9 !important;
}
.datagrid-view1{
    height: 0;
}
.datagrid-header{
    display: none;
}
.panel-body{
    padding: 20px;
}
#meeting_info .panel-body,#call_meeting_info .panel-body,
#confirm_meeting_info .panel-body,#book_meeting_info .panel-body,#past_meeting_info .panel-body{
    padding:  23px 20px 0px 19px;
    position: absolute;
    height: 370px ;
    height: 391px\9;
}
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber{
    text-overflow: ellipsis;
}
.datagrid-row,.datagrid-cell{
    height: 21px;
    height: 30px\9;
}
.content_panel .datagrid-row-selected {
     background: none;
}
.content_panel .datagrid-row-checked, .datagrid-row-checked {
     background: none;
}
.grid_td-item .meeting-conflict{
    display: inline-block;
    width:  58px;
    height: 15px;
    line-height: 15px;
    margin-left: 10px;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #d21e1e;
    position: absolute;
    text-align: center;

}
.grid_td-item .meeting-name,.meeting-status{
    height: 17px;
    line-height: 17px;
    margin-bottom: 5px;
}

.grid_td-item .meeting-name{
    display: inline-block;
    font-size: 14px;
    color:#4e4e4e;
    max-width: 310px;
    text-overflow:ellipsis;
    white-space:nowrap;
    word-break:keep-all;
    overflow: hidden;

}
.meeting-name.meeting-name-conflict{
    max-width: 242px;
}
.grid_td-item .meeting-name:hover{
    cursor: default;
    color:#026fb2;
}
.grid_td-item .meeting-name[href]:hover{
    cursor: pointer;
    color: #46A7E1;
    text-decoration: underline;
}
.grid_td-item .meeting-name.video{
    padding-left: 31px;
    max-width: 279px;
}
.grid_td-item .meeting-name.video.meeting-name-conflict{
    max-width: 211px;
}
.meeting-status{
    color: #026fb2;
}
.book-meeting-item .meeting-status,.past-meeting-item .meeting-status{
    color:#aeaeae;
}
.grid_td-item.meeting-rooms,.grid_td-item.meeting-user{
    color: #aeaeae;
    height: 15px;
    line-height: 15px;
    margin-bottom: 5px;
}

#meeting_info{
    height:394px;
}
/*#meeting_info  .datagrid-btable tr, #call_meeting_info .datagrid-btable tr,
#confirm_meeting_info .datagrid-btable tr, #book_meeting_info .datagrid-btable tr, #past_meeting_info .datagrid-btable tr{
    display: inline-table;
    height: 37px;
    height: 68px\9;
    vertical-align: top\9;
    margin-bottom:22px;
}*/
.grid-item-wrapper{
    margin-bottom: 27px;
}
.grid-item-wrapper.confirm-meeting-item{
    margin-bottom: 20px;
}
.grid-item-wrapper span{
    display: inline-block;
}
.join-not-join{
    color: #026fb2;
    height: 15px;
    line-height: 15px;
}
.join{
    margin-right: 10px;
}
.join,.not-join{
    text-decoration: underline;
}
.join:hover,.not-join:hover{
    color:#026fb2;
}
.mo-icons-bg.video_icon{
    display: inline-block;
    width: 21px;
    height: 21px;
    background-position: 0px -649px;
    position: absolute;
}
.mo-icons-bg.video_icon:hover{
	cursor: default;
}
#meeting_info .datagrid-btable  tr[datagrid-row-index='4'] ,#call_meeting_info .datagrid-btable  tr[datagrid-row-index='4'] {
    height: 60px\9;
}
#meeting_info-grid{
    width: 560px;
}
.datagrid-pager.pagination table{
    float: right;
}
.pagination-num{
    border:none;
    border-bottom: 1px solid #a4a4a4;
    text-align: center;
}
.pagination-next,.pagination-prev{
    display: inline-block;
    height: 20px;
    width: 21px;
    background:url("~images/home_img2.png");
}
.pagination-prev{
    background-position: 0px -566px;
}
.pagination a.l-btn-disabled .pagination-prev{
    background-position: -93px -566px;
}
.pagination-prev:hover,.pagination a.l-btn-disabled .pagination-prev:hover{
    background-position: -31px -566px;
}
.pagination-next{
    background-position: 0px -596px;
}
.pagination a.l-btn-disabled .pagination-next{
    background-position: -93px -596px;
}
.pagination-next:hover,.pagination a.l-btn-disabled .pagination-next:hover{
    background-position: -31px -596px;
}
.pagination-num{
    outline: none;
}
.l-btn-empty{
	display:none;
}
.pagination{
    width: 522px;
    margin:0px;
    position: absolute;
    bottom: 20px;
}

/********直播室和即将直播样式************/
.vrs-live-container,.vrs-living-container {
    padding: 6px 11px;
    overflow: hidden;
}

.comm_video_path{
    display: none;
}
.comm_video{
    width: 164px;
    position: relative;
    float: left;
    margin: 23px 8px;
}
.comm_video_margLeft16{
    margin-left: 16px;
}
.mo-icons-bg.comm_video_forthcomImg{
    background-position: -174px -437px;
    width: 164px;
    height: 92px;
}
.mo-icons-bg.comm_video_img{
    width: 164px;
    height: 92px;
    cursor: pointer;
    background-position: 0 -437px;
}
.mo-icons-bg.comm_video_img_btn{
    display: none;
    width: 164px;
    height: 92px;
    background-position: -348px -437px;
    position: absolute;
    top: 0;
    left: 0;
}
.comm_video_date,.comm_video_time{
    font-size: 12px;
    color: #aeaeae;
    float: left;
}
.comm_video_img_time{
    font-size: 12px;
    color: #c7c7c7;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 3px 6px;
    background: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
}
.comm_video_img_IE{
    font-size: 12px;
    color: #c7c7c7;
    position: absolute;
    top: 0;
    right: 0;
    width: 98px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
}
.mo-icons-bg.comm_video_viewImg{
    background-position: 0 -539px;
    width: 17px;
    height: 17px;
    float: right;
}
.video-encrypt-icon{
	position: absolute;
    width: 164px;
    height: 92px;
}
.mo-icons-bg.living.gm-icon{
	position: absolute;
	width:18px;
	height:18px;
	background-position:0px -967px;
	bottom: 4px;
    right: 64px;
} 
.mo-icons-bg.living.aes-icon{
	position: absolute;
	width:18px;
	height:18px;
	background-position:-28px -967px;
	bottom: 4px;
    right: 64px;
    cursor:default;
} 
.mo-icons-bg.gm-icon{
	position: absolute;
	width:18px;
	height:18px;
	background-position:0px -967px;
	bottom: 4px;
    right: 5px;
    cursor:default;
} 
.mo-icons-bg.aes-icon{
	position: absolute;
	width:18px;
	height:18px;
	background-position:-28px -967px;
	bottom: 4px;
    right: 5px;
}
.comm_video_num{
    float: right;
    font-size: 12px;
    color: #aeaeae;
    margin-left: 4px;
}
.comm_video_title{
    clear: both;
    line-height: 17px;
    font-size: 14px;
    color: #4e4e4e;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    width: 162px;
    min-height: 34px;
}
/*无数据的情况下的一些样式�*/
.hidden{
    display: none;
}
.none-visible{
	visibility:hidden;
}
.no-data-wrapper{
    position: absolute;
    width: 562px;
    margin-top: -34px;
    z-index: -100;
}
#subscribe_alarm .no-data-wrapper{
    height: 385px;
}
#platform_resource .no-data-wrapper{
	height:128px;
	margin-top:-128px;
}
#meeting_info .no-data-wrapper,#meeting_category_info .no-data-wrapper,
#live_room .no-data-wrapper,#living .no-data-wrapper,
#call_meeting_info .no-data-wrapper,#confirm_meeting_info .no-data-wrapper,
#book_meeting_info .no-data-wrapper,#past_meeting_info .no-data-wrapper{
    height: 428px;
}
#subscribe_alarm .no-data{
    width: 130px;
}
#platform_resource .no-data{
	width:116px;
}
.no-data{
    position: absolute;
    height: 22px;
    line-height: 22px;
    margin:auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.warm-text{
    color: #b6b6b6;
}
.warm-icon,.warm-text{
    display: inline-block;
    height: 22px;
    float: left;
}
.mo-icons-bg.warm-icon{
    width: 22px;
    background-position: -31px -649px;
    margin-right: 10px;
}
#meeting_info .call-meeting,#call_meeting_info .no-data{
    width: 296px;
}
#meeting_info .confirm-meeting,#meeting_info .past-meeting,#confirm_meeting_info .no-data,#past_meeting_info .no-data{
    width: 128px;
}
#meeting_info .book-meeting,#book_meeting_info .no-data{
    width: 116px;
}
#meeting_category_info .custom-meeting,#meeting_category_info .port-meeting{
    width: 128px;
}
#meeting_category_info .point-point-meeting{
    width: 140px;
}
#live_room .no-data{
    width: 80px;
}
#living .no-data{
    width: 140px;
}
#footer{
	width: 100%;
    position: fixed;
    bottom: 0px;
	height: 83px;
    background-color: #373d41;
    margin-top: 20px;
}
#footer .footer_content{
	border: none;
    padding-top: 22px;
}
#footer .footer_content span{
	color:#FFFFFF;
}
.grid_td-item .meeting-name:link,.grid_td-item .meeting-name:visited{
 text-decoration:none;  /*超链接无下划线*/
 color:#333;
}
.grid_td-item .meeting-name:hover{
 text-decoration:none;  /*鼠标放上去有下划线*/
 color:#333;
}
.license-warn-image{
    top:55px;
}
.license-warn-info{
    position: relative;
    top: 55px;
    margin: 0 70px;
    text-align: left;
    line-height: 21px;
    color: #4e4e4e;
    font-size: 12px;
}
#license-warn-checkbox{
    margin-top: 13px;
}

.icp a{
    color:#FFFFFF;
    margin-left:22px;
}
.icp a:hover{
    color: #007ac0;
       text-decoration: underline;
}
