/***自定义服务器弹出框样式***/

.treeWrapper .tree-title{
    display: inline-block;
    width:118px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

.tipMsg {
    height: 25px;
    line-height: 25px;
    margin-left: 42px;
    color: #b6b6b6;
}

#dialogWrapper {
    min-height: 100%;
    position: relative;
}

#dialogWrapper .dialog-content {
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 40px;
    position: relative;
    width: 720px;
}

.mo-simple-search {
    position: relative;
    width: 110px;
    height: 26px;
    border-bottom: 1px solid #949799;
}

.mo-simple-search-input {
    font-size: 11px;
    border: 0px;
    width: 90px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    color: #616060;
    bottom: 0px;
    outline: 0 none;
}

.mo-simple-search:hover {
    border-bottom-color: #1e94da;
}

.mo-simple-search-icon:hover {
    background-position: -40px 0;
}

.dialog-content .title {
    margin: 10px 0;
    padding: 0 20px;
}

.mo-icon30 {
    background: url("../../../static/images/home/home_img.png?t=6.0.1360888260") no-repeat;
    width: 30px;
    height: 30px;
    text-indent: 999px;
    overflow: hidden;
    display: inline-block;
    line-height: 30px;
    cursor: pointer;
}

.mo-icon-select-all {
    background-position: -480px -995px;
}

.mo-icon-select-all:hover {
    background-position: -520px -995px;
}

.mo-icon-select-all:active {
    background-position: -560px -995px;
}

.mo-icon-select-all.disable {
    background-position: -600px -995px;
}

.mo-icon-select2-right {
    background-position: 0px -995px;
}

.mo-icon-select2-right:hover {
    background-position: -40px -995px;
}

.mo-icon-select2-right:active {
    background-position: -80px -995px;
}

.mo-icon-select2-right.disable {
    background-position: -120px -995px;
}

.mo-icon-remove2-left {
    background-position: -160px -995px;
}

.mo-icon-remove2-left:hover {
    background-position: -200px -995px;
}

.mo-icon-remove2-left:active {
    background-position: -240px -995px;
}

.mo-icon-remove2-left.disable {
    background-position: -280px -995px;
}

.mo-icon-remove-all {
    background-position: -320px -995px;
}

.mo-icon-remove-all:hover {
    background-position: -360px -995px;
}

.mo-icon-remove-all:active {
    background-position: -400px -995px;
}

.mo-icon-remove-all.disable {
    background-position: -440px -995px;
}

.mo-icon-move-upTop {
    background-position: -320px -1035px;
}

.mo-icon-move-upTop:hover {
    background-position: -360px -1035px;
}

.mo-icon-move-upTop:active {
    background-position: -400px -1035px;
}

.mo-icon-move-upTop.disable {
    background-position: -440px -1035px;
}

.mo-icon-move-up {
    background-position: 0px -1035px;
}

.mo-icon-move-up:hover {
    background-position: -40px -1035px;
}

.mo-icon-move-up:active {
    background-position: -80px -1035px;
}

.mo-icon-move-up.diable {
    background-position: -120px -1035px;
}

.mo-icon-move-down {
    background-position: -160px -1035px;
}

.mo-icon-move-down:hover {
    background-position: -200px -1035px;
}

.mo-icon-move-down:active {
    background-position: -240px -1035px;
}

.mo-icon-move-down.disable {
    background-position: -280px -1035px;
}

.mo-icon-move-downBottom {
    background-position: -480px -1035px;
}

.mo-icon-move-downBottom:hover {
    background-position: -520px -1035px;
}

.mo-icon-move-downBottom:active {
    background-position: -560px -1035px;
}

.mo-icon-move-downBottom.disable {
    background-position: -600px -1035px;
}

.w-close {
    background: url("../../images/layer-close.png?t=5.0.3890385384") no-repeat scroll 0 transparent;
    display: inline-block;
    height: 13px;
    position: absolute;
    right: 20px;
    top: 17px;
    width: 13px;
    z-index: 2;
}

.dialog-content .info {
    height: 370px;
    width: 636px;
    margin: 25px 42px;
    position: relative;
    overflow: auto;
}

.dialog-content .item-msg {
    display: none;
    background: none repeat scroll 0 0 #222222;
    margin: 10px 0 10px 150px;
    width: 360px;
}

.dialog-content .item-msg .msg {
    color: #FFFFFF;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 0 20px;
}

.info .infoArea {
    width: 260px;
    float: left;
    overflow: auto;
    border: 1px solid #c8c8c8;
}

.mo-simple-search-icon {
    position: absolute;
    background: url("../../images/mo-search.png?t=6.0.2946133803") no-repeat;
    width: 20px;
    height: 20px;
    bottom: 0px;
    right: 0px;
}

.info .input-text {
    border: 0;
    border-bottom: 1px solid #949799;
    color: #616060;
    font-size: 12px;
    width: 100%;
    height: 24px;
    outline: 0 none;
}

.btn-operation {
    width: 30px;
    height: 30px;
    display: block;
    margin: 20px 0;
    line-height: 30px;
    cursor: pointer;
}

.mo-select-user-item {
    background-color: #FFFFFF;
    color: #5F5F5F;
    line-height: 25px;
    width: 180px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px;
    cursor: pointer;
}

.mo-select-user-item:hover,
.mo-select-user-item.hover {
    background: #FFFFFF;
    border-color: #2E8CC1;
    color: #2E8CC1;
}

.mo-select-user-item.active {
    background: url("../../images/btn-bg-normal.png?t=5.0.2613065861") no-repeat 0 0 #6BBBEC;
    border-color: #2E8CC1;
    color: #fff;
}

.search-department-search {
    left: 175px;
    top: 15px;
}

.search-user-search {
    margin-left: 8px;
    margin-top: 8px;
}

ul#tree {
    display: inline-block;
}

ul#tree ul {
    display: inline-block;
}

.datagrid-mask {
    position: absolute;
    top: 38px;
    right: 0;
    bottom: 60px;
    left: 0;
    opacity: 0;
}

.datagrid-mask-msg {
    z-index: 999999;
}

.mo-simple-search-input,
.mo-simple-search {
    width: 290px;
}

.mo-select-item {
    background-color: #FFFFFF;
    color: #4e4e4e;
    line-height: 25px;
    width: 235px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 5px;
    cursor: pointer;
}

.mo-select-item.active {
    background: url("../../images/btn-bg-normal.png?t=5.0.2613065861") no-repeat 0 0 #6BBBEC;
    border-color: #2E8CC1;
    color: #fff;
}

.btn-wrapper {
    bottom: 0;
    height: 59px;
    padding-top: 21px;
    position: absolute;
    text-align: center;
    width: 100%;
}