
.password .text-tips{
    position:absolute;
    font-size:11px;
    color:#b6b6b6;
}
.showHidePassword{
    position:absolute;
    display:inline-block;
    height:14px;
    width:21px; 
    right:0px;
    top:-1px;
}
.eye-bg{
    background:url("~images/mo-small-images.png");
}
.hide-password{
    background-position:0px -522px;
}
.show-password{
    background-position:-20px -522px;
}
.tip-info,.help,.password .text-tips{
    font-family: "Microsoft YaHei" ! important;
}
.tip-icon,.tip-info,.help{
    display:inline-block;
    vertical-align:middle;
}
.tip-icon{
    display:inline-block;
    height:14px;
    width:13px;
    background:url("~images/mo-small-images.png");
    background-position: 17px 177px;
}

.error-icon,.tip-icon.error-icon{
    background-position: -2px -505px;
}
 .correct-icon{
    background-position: -18px -505px;
}
.weak-icon{
    background-position: -34px -505px;
}
.medium-icon{
    background-position: -50px -505px
}
.strong-icon{
    background-position: -66px -505px;
}
.password-tip{
    vertical-align:bottom;
}
.tipWrapper{
    padding-left:8px;
}
.medium-tip{
    color:#ffa500;
}
.error-tip,.weak-tip{
    color:#d21e1e;
}
.correct-tip,.strong-tip{
    color:#3d9353;
}
.displayNone{
    display:none;
}
.help{
    padding-left:10px;
    color:#3e9bd0;
    text-decoration:underline;
}
.help-info{
  position: absolute;
  margin-left: 0px;
  background-color: #FFFFFF;
  border: 1px solid #dadada;
  width: 290px;
  height: 300px;
  z-index: 100;
}
.help-info ul{
  padding-left: 22px;
    padding-top: 10px;
}
.help-title{
    font-weight:bold;
}
.help-li{
    padding-bottom:4px;
}
.help-info p{
    margin-top:5px;
}
.help-first{
    padding-left:24px;
}
.help-none-first{
    padding-left:60px;
}
.capitals-tip{
    position:absolute;
    top:19px;
    left:160px;
    background:url("~images/capitals-tip.png") no-repeat; 
    width:84px;
    height:37px;
    padding-top:14px;
    padding-left:11px;
}
.password .e-input:focus,.password .e-input:hover {
  color:#1e94da;
  border-color: #1e94da
  }
.operation{
  vertical-align: middle;
  background: url("~images/mo-small-images.png") no-repeat;
  width: 11px;
  height: 11px;
  background-position: 0px -299px;
  display: inline-block;
}
.oldPasswordTip,.newPasswordTip,.confirmPasswordTip{
  width:160px;
}
