#turnOffWrapper #turnOff_info_wrap,
#device-wrap {
    padding: 47px 0px 0px 40px;
}

#turnOffWrapper #turnOff_info_wrap .label,
#device-wrap .label {
    vertical-align: top;
    display: inline-block;
    padding-right: 22px;
}

#turnOffWrapper #turnOff_info,
#device-info {
    display: inline-block;
    height: 70px;
}

#turnOffWrapper #turnOff_info .inputWrap {
    width: 224px;
    border-bottom: 1px solid #333;
    margin-bottom: 13px;
    position: relative;
    height: 19px;
}

#turnOffWrapper #turnOff_info .inputWrap .pwdEye.active {
    background-position: -20px 0;
}

#turnOffWrapper #turnOff_info input {
    outline: none;
    outline-style: none;
    width: 222px;
    line-height: 18px;
    height: 18px;
    background: none;
    border: none;
    /* border-bottom: 1px solid #949799; */
}

#turnOffWrapper #turnOff_info input::-ms-reveal {
    display: none;
}

#turnOff_info .errorTip,
.inputTip {
    display: none;
    color: #C5140D;
}

#turnOffFooter {
    text-align: center;
    margin-top: 45px;
}