/*reset*/
* {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
}
.datagrid-toolbar{
	background: white;

}

.toolbar{
}

.toolbar .search-bar{
  margin-top:12px;
  height:40px;
  text-align: left;
}

.datagrid-toolbar:after { content: '\20'; display: block; height: 0; clear: both; }
.datagrid-toolbar{ *zoom: 1; }

.datagrid-toolbar .search-bar{
	margin-top:16px;
	height:40px;
    text-align: left;
}
.datagrid-toolbar .operate-bar{
	height:40px;
	margin-top:12px;
	text-align: right;
}

.datagrid-toolbar.auto .search-bar{
	height:90px;
	margin-top:0px;
}

.datagrid-toolbar.auto .search-bar .combo,.datagrid-toolbar.auto .search-bar .input-text{
	margin-top:16px;
}
.datagrid-toolbar.auto .search-bar .mo-icon-search{
	margin-top:12px;
}



.datagrid-toolbar.inline .search-bar{
  text-align: left;
  float:left;
  width:auto;
}
.datagrid-toolbar.inline .operate-bar{
  width:auto;
  float:right;
}

.datagrid-toolbar .search-bar .input-text,.toolbar .search-bar .input-text{
   outline: 0 none;
   border:none;
   border-bottom:1px solid #949799;
   color: #616060;
   font-size: 11px;
   height: 20px;
   line-height:20px;
   width: 110px;
   padding: 0px 0;
   vertical-align: top;
}

.datagrid-toolbar .search-bar .combo-text{
   font-size: 11px;
   height: 20px;
   line-height:20px;
   width: 110px;
   padding: 0px 0;
   
}

.datagrid-toolbar .search-bar .combo{
	vertical-align: top;
	position: relative;
	top: -1px;
}

.datagrid-toolbar .search-bar .combo-arrow{
	margin-left:3px;
}

.datagrid-toolbar .search-bar .input-text:hover,.datagrid-toolbar .search-bar .input-text:focus{
	border-color:#1e94da;
}

.datagrid-toolbar .search-bar .input-text.active,.toolbar .search-bar .input-text.active{
  border-color:#1e94da;
}


.datagrid-toolbar .search-bar .sep{
    margin-left: 19px;
}

.datagrid-header-row, .datagrid-row {
  height: 26px;
  display: inline-table;
}

.datagrid-header, .datagrid-td-rownumber{
	background: white;
  filter:none;
}

.datagrid-header, .datagrid-toolbar, .datagrid-pager, .datagrid-footer-inner {
    border:none;
}

.datagrid-header{
	border-top:1px solid #949799;
	
}


.datagrid-header td,.datagrid-body td,.datagrid-footer td {
	border:0;
}

.datagrid-header td, .datagrid-header td.datagrid-header-over{
  color:#8B8B8B;
  cursor: default;
}


.datagrid-body .datagrid-row-checked.datagrid-row-over .datagrid-cell, .datagrid-body .datagrid-row-checked.datagrid-row-over .datagrid-cell a {
    color: #4e4e4e;
}

/* .datagrid-body .datagrid-row-over .datagrid-cell, .datagrid-body .datagrid-row-over .datagrid-cell a {
    color: white;
} */

.datagrid-row-checked,.datagrid-row-checked{
	background:#EFF2F4;
}

.datagrid-row-selected {
   background:#eff2f4;
}

.datagrid-header td[rowspan="0"]{
  background-image:none;
}


.datagrid-header .datagrid-cell {
    color:#8B8B8B;
    line-height: 24px;
	
}

.datagrid-body .datagrid-cell,.datagrid-body .datagrid-cell a{
    color:#4E4E4E;
	text-overflow: ellipsis;
}

.datagrid-cell-rownumber{
  color:#8B8B8B;
}

.datagrid-toolbar, .datagrid-pager {
  background: none;
}
.datagrid .datagrid-pager {
  border:none;
  height:35px;
}

.datagrid-mask-msg {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  padding: 20px;
  width: auto;
  height: 16px;
  border:0px;
  background:black;
  color:white;
  display: none;
}

.pagination table {
  font-size:12px;
  float: right;
  height: 30px;
}

.pagination table td{
	 color: #a4a4a4;
}
.pagination .pagination-num{
  border:none;
  border-bottom: 1px solid #bdbdbd;
  width:22px;
  padding:0px;
  color: #666666;
  line-height:14px;
  text-align:center;
}
.pagination a.l-btn{
  border-radius: 0px;
  height: 20px;
}
.pagination a.l-btn-plain{
  background:none;
  border: none;
  padding: 0px;
}
.pagination a.l-btn-disabled {
    opacity: 1;
    filter:none;
}
.pagination  a.l-btn-plain span.l-btn-left {
    padding-left: 0px;
}
.pagination a.l-btn span span.l-btn-text {
  top:0px;
  height:20px;
}
.pagination a.l-btn span span span.l-btn-empty {
    width: 21px;
    height:20px;
}
/* .pagination-prev,.pagination-next{
    background: url("../images/easyui/pagination_icons.png?t=5.0.270688469") no-repeat;
}
.pagination-prev{
    background-position: 0 -20px;
}

.pagination a.l-btn-plain:hover,.pagination a:hover.l-btn-plain:hover{
	padding:0px;
}

.pagination a:hover.l-btn-plain .pagination-prev{
  background-position: -42px -20px;
}
.pagination a:active.l-btn-plain .pagination-prev{
  background-position: -21px -20px;
}

.pagination a.l-btn-disabled .pagination-prev,.pagination a:hover.l-btn-plain-disabled .pagination-prev{
    background-position: -63px -20px;
} */

/* .pagination-next{
    background-position: 0 0px;
} */

/* .pagination a:hover.l-btn-plain .pagination-next{
    background-position: -42px 0px;
} */

/* .pagination a:active.l-btn-plain .pagination-next{
  background-position: -21px 0px;
} */

/* .pagination a.l-btn-disabled .pagination-next,.pagination a:hover.l-btn-plain-disabled .pagination-next{
    background-position: -63px 0px;
} */



.tree-node {
  margin-bottom: 4px;
  color: #4E4E4E;
  height:20px;
  line-height:20px;
}

.tree-icon.tree-folder,.tree-icon.tree-file {
  
 }

.tree-folder.icon-service{
	width:16px;
}

.tree-file.icon-service{
	width:16px;
}

.tree-folder.icon-platform{
	width:16px;
}

.tree-file.icon-platform{
	width:16px;
}



.tree-icon.icon-empty{
  width:0px;
}

.tree-title{
	height:20px;
	line-height:20px;
}

.tree-expanded, .tree-collapsed, .tree-folder, .tree-file, .tree-checkbox, .tree-indent {
    display: inline-block;
    height: 18px;
    overflow: hidden;
    vertical-align: top;
    width: 12px;
}

.tree-expanded,.tree-expanded-hover,.tree-collapsed,.tree-collapsed-hover,.tree-node .tree-checkbox{
   background: url("~images/home_img2.png") no-repeat
}
.tree-node .tree-hit{
	width:14px;
	height:14px;
}
.tree-expanded {
    background-position: 0px -1133px;
}
.tree-expanded-hover {
    background-position: -24px -1133px;
}
.tree-collapsed {
    background-position:  -96px -1133px;
}
.tree-collapsed-hover {
    background-position: -120px -1133px ;
}
.tree-node-selected {
    background:none;
}
.tree-node-selected .tree-title{
    background: url("~images/aside-selected.png") no-repeat scroll 0 0 #53AFE4;
    color: #fff;
}

.tree-node-hover {
  background: #fff;
  color: #007ac0;
  cursor: pointer;
}
.tree-node .tree-checkbox{
	width:18px;
	height:18px;
	vertical-align: bottom;
	
}
.tree-checkbox.tree-checkbox0{
	background-position: 0px -1105px;
}
.tree-node-hover .tree-checkbox.tree-checkbox0{
	background-position: -28px -1105px;
}

.tree-checkbox.tree-checkbox1{
	background-position: -56px -1105px;
}
.tree-checkbox.tree-checkbox1.checked-selected{
	background-position: -504px -1105px;
}
.tree-node-hover .tree-checkbox.tree-checkbox1{
	background-position: -84px -1105px;
}
.tree-node-hover .tree-checkbox.tree-checkbox1.checked-selected{
	background-position: -504px -1105px;
}
.tree-checkbox.tree-checkbox2{
	background-position: 0px -1105px;
}
.tree-node-hover .tree-checkbox.tree-checkbox2{
	background-position: -28px -1105px;
}
.tree-indent{

}


.datagrid-mask{
  background: #fff;
}



.datagrid-header-check, .datagrid-cell-check {
	background: transparent url('~images/ezmark/checkbox-gray.png') 0 -14px no-repeat;
	width:14px;
	height:14px;
	margin:1px 4px;
	*display:inline;
	*zoom:1;
}

.datagrid-row-over  .datagrid-cell-check{
	background-position: -42px -14px;
}

.datagrid-header-check.checked,.datagrid-row-checked .datagrid-cell-check {
	background-position: 0 0;
}

.datagrid-header-check input, .datagrid-cell-check input{
   opacity: 0; filter:alpha(opacity=0);
 }


.combo{
	border:0;
	border-bottom:1px solid #949799;
}

.combo:hover{
	border-bottom-color:#1e94da;
}

.combo.datebox .combo-text{
	color: #616060;
	padding:0px;
}

.combo:hover .combo-text{
	color:#1e94da;
}


.combo-arrow{
	background:url("~images/mo-combox.png") 0 4px no-repeat;
	opacity: 1;
	height:15px;
	width:15px;
}

.datagrid-toolbar .search-bar .datebox .combo-arrow {
		margin-left:0;
}

.datebox .combo-arrow {
	margin-left:0;
	width:20px;
    background-image: url("~images/mo-datebox.png");
    background-position: -1px 0;
}

.combo:hover .combo-arrow,.combo-arrow-hover {
    background-position: -15px 4px;
}

/*for Bug00192128*/
.combo.datebox:hover .combo-arrow,
.datebox.combo:hover .combo-arrow.combo-arrow-hover,
.datebox .combo-arrow-active.combo-arrow-hover,
.datebox .combo-arrow.active{
	background-position:-41px 0px;
}
.combo-arrow.active.combo-arrow-active{
	background-position:-21px 0px;
}
.combo-text.validatebox-text.active{
	color:#1e94da;
}
.panel.combo-p{
	margin-top: 2px;
}
.panel-header, .panel-body {
    border-color: #1e94da;
}
.combo-arrow.active{
	background-position:-15px 4px;
}

.combobox-item{
	color: #616060;
	word-break:keep-all;
	font-size:12px;
}

.combobox-item-hover {
    background-color: #1e94da;
    color: #fff;
}

.combobox-item-selected {
    background-color: #1e94da;
    color: #fff;
}


.combo-p .tree-node-selected{
	background:#1e94da;
}


.combo-p .tree-node-hover {
  background: #1e94da;
  color: #fff;
  cursor: pointer;
}
.combo-p .tree-node-hover .tree-checkbox.tree-checkbox1{
	background-position: -70px -184px;
}
a.l-btn {
	height:23px;
	line-height:23px;
	border: 1px solid #dcdfe1;
    border-radius: 0px;
    background-color: #eff2f4;
    color: #5f5f5f;
}

a.l-btn span.l-btn-left {
    height: 23px;
    line-height: 22px;
}
a.l-btn span  span.l-btn-text{
	height: 23px;
    line-height: 23px;
	top:0px;
}

/* a.l-btn-plain:hover {
	background: url("../images/btn-bg-normal.png?t=5.0.2613065861") repeat-y scroll 0 0 #69bef0;
    border-color: transparent;
	border-radius: 0px;
    color: #fff;
	padding:0 11px;
} */


a.l-btn-plain{
	padding:0 11px;
}

a.s-btn-plain-active {
	padding:0 11px;
	border-radius: 0px;
	background: transparent;
    border: 1px solid #007ac0;
	background: #ffffff;
    color:#2E8CC1;
}

a.l-btn:hover .s-btn-downarrow, a.s-btn-active .s-btn-downarrow, a.s-btn-plain-active .s-btn-downarrow {
	 border-color: transparent;
}

.menu{
	padding:0px;
	background: white;
	border: 1px solid #dadada;
}
.menu-line {
	border-color: transparent;
	display:none;
}

.menu-text {
    padding: 5px 0px 4px 21px;
}

.menu-active {
	background:#1e94da;
    border-radius: 0px;
}

.menu-active .menu-text{
	color:#fff;
}

.s-btn-downarrow {
	width:11px;
	height:11px;
	line-height:11px;
	background: url("~images/mo-small-images.png") -44px -198px no-repeat;
}

a.l-btn:hover .s-btn-downarrow{
	background-position:-55px -198px;
}


a.s-btn-active .s-btn-downarrow, a.s-btn-plain-active .s-btn-downarrow {
   background-position:-66px -198px;
}

.datagrid table td span{
    color:#666666;
}
.datagrid table td:nth-child(2){
    padding-right: 8px;
}