@import './movision';
@import './telecom';
@import './kedacom';
@import './DX6000';

$themes:(
    movision: $movision-theme,
    telecom: $telecom-theme,
    kedacom: $kedacom-theme,
    DX6000: $DX6000-theme,
);

@mixin themify($className, $themes: $themes) {
    @each $theme-name, $map in $themes {
        
        .theme-#{$theme-name} & {

            @each $key, $value in $map {
                @if $className == $key {
                    @each $x, $y in $value {
                        #{$x}: $y;
                    }
                }
            }
        }

    }
}
