$kedacom-theme : (

    ///////////// login////////////
    mo_icons: (
        background: url('~images/mo_icons.png') no-repeat center
    ),
    login-title-logo: (
        display:none
    ),
    movision: (
        display:none
    ),
    icp: (
        display:none
    ),

    ///////////// home////////////
    mo-icons-logo-bg: (
        background: url("~images/home_img2.png")
    ),
    '.sys-info .header-logo': (
        display: inline-block,
        height: 20px,
        width: 116px,
        background-position: 0px 0px,
        margin-top:20px,
        float: left,
        cursor: pointer,
    ),
    slash: (
        background-position: 0px -27px,
        height: 15px,
        width: 9px,
    ),
    '.about_company .about_company_logo': (
        height: 60px,
        width: 116px,
        background-position: 0px -835px,
    ),
    '.about_company .about_company-alternate-logo': (
        display:none,
    ),
    about_netAddress1: (
        color: #007ac0,
        text-decoration: underline,
        font-family: Microsoft YaHei,
        margin-left: 15px,
        
    ),
    about_netAddress11: (
        display:none,
    ),
    about_netAddress2: (
        display:none,
    ),
)
