$movision-theme : (
    ///////////// login////////////
    mo_icons:(
        background: url("~images/mo_icons.png") no-repeat center
    ),
    login-title-logo:(
        width: 23px,
        height: 23px,
        background-position: 0px -21px
    ),
    'icp a': (
        font-family: "Microsoft Yahei",
        color:#606060,
        margin-left:22px
    ),
    'icp a:hover': (
        color: #007ac0,
        text-decoration: underline
    ),

    ///////////// home////////////
    mo-icons-logo-bg: (
        background: url("~images/home_img2.png") no-repeat
    ),
    '.sys-info .header-logo': (
        display: inline-block,
        height: 18px,
        width: 116px,
        background-position: 0px 0px,
        margin-top:18px,
        float: left,
        cursor: pointer,
    ),
    slash: (
        background-position: 0px -25px,
        height: 18px,
        width: 9px,
    ),
    '.about_company .about_company_logo': (
        height: 60px,
        width: 116px,
        background-position: 0px -835px,
    ),
    '.about_company .about_company-alternate-logo': (
        height: 60px,
        width: 58px,
        background-position: 0px -765px,
    ),
    about_netAddress1: (
        display:none,
    ),
    about_netAddress11: (
        
    ),
    about_netAddress2: (
        margin-left: 15px,
    ),
)

