a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000
}

.icp a {
    font-family: "Microsoft Yahei";
    color: #606060;
    margin-left: 22px;
}

.icp a:hover {
    color: #007ac0;
    text-decoration: underline;
}

.meun-short {
    width: 775px;
    height: 82px;
    margin: 0 auto;
    overflow: hidden;
    float: left;
}

.menu-long {
    height: 82px;
    /*     text-align: left; */
    margin: auto;
}

#sys_nav .menu-long a {
    text-align: center;
    margin-left: 48px;
    margin-right: 48px;
}

.a_left {
    float: left;
    margin-top: 10px;
    visibility: hidden;
}

.a_right {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    visibility: hidden;
}

#sys_nav {
    margin: 0 auto;
    width: 900px;
}

.detail-header {
    color: #4e4e4e;
    height: 59px;
}

.detail-header .tab-item.active {
    background: #69bef0 url("~images/btn-bg-large.png") repeat-y scroll 0 0;
    border-color: transparent;
    color: #fff;
}

.mo-btn-x {
    border: 1px solid #dcdfe1;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 23px;
    line-height: 23px;
    padding: 0 22px;
    text-align: center;
}

.set-content {
    margin: 0 auto;
    min-width: 1024px;
    padding-bottom: 80px;
}

.detail-header .operate {
    float: right;
    margin-top: 14px;
}

.btn-wrapper .mo-btn-gray {
    background-color: #eff2f4;
    color: #5f5f5f;
}

.mo-btn-x-left {
    margin-right: 6px;
}

.detail-content .data-li {
    list-style-type: none;
    min-height: 30px;
    padding: 6px 0;
}

.data-li .title {
    line-height: 30px;
    text-align: left;
    width: 123px;
}

.data-li .input {
    vertical-align: middle;
    width: 303px;
}

.e-input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #949799;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #616060;
    font-size: 12px;
    vertical-align: middle;
}

.detail-content td input {
    line-height: 14px;
    outline: 0 none;
    width: 100%;
}

.extNum_input_wrapper .tip_label {
    top: 0px;
    height: 15px;
    position: absolute;
    bottom: 4px;
    color: #616060;
    cursor: text;
    text-align: center;
    line-height: 11px;
    font-size: 11px;
}

.hidden {
    display: none;
}

.checkDiv .space {
    display: inline-block;
    width: 30px;
}

.color-6 {
    color: #616060
}

div.preview_div {
    overflow: hidden;
}

.about-content.mo-dialog-content {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
}

.about-content.mo-dialog-content .title {
    margin-top: 0px;
}

.mo-dialog-content .info {
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 0px;
}

.about_x .about_netAddress1 {
    color: #007ac0;
    text-decoration: underline;
}

.public-private-cloud-content {
    display: none;
}

.change-account .warn-info {
    position: relative;
    top: 55px;
    text-align: left;
    line-height: 21px;
    color: #4e4e4e;
    font-size: 12px;
    margin-left: 27px;
}

.change-account .tipImage {
    top: 55px;
    height: 28px;
    margin-left: 0;
}

.base-input-wrap .bmc-accountInput-tipMsg {
    top: 18px;
}

.mo-btn-gray:hover {
    color: #fff;
}

#editor-ui .combo-arrow {
    height: 19px !important;
    width: 19px !important;
    position: relative;
    /*left: -4px;*/
}

.mo-btn-gray:hover {
    background-size: cover;
}