html,
body,
.wrap {
    height: 100%;
    width: 100%;
}

#header,
.inner-main-content {
    padding: 0 67px;
}

.head-nav-bg-temp,
#header {
    height: 54px;
}

.header-logo {
    margin-top: 18px;
}

.company-header-title {
    margin-top: 21px;
}

.mo-icons-bg {
    background: url("~images/home_img2.png");
}

.slash {
    display: inline-block;
    margin-top: 18px;
    margin-left: 6px;
    float: left;
    background-position: 0 -25px;
}

.public-private-cloud-content {
    display: none;
}

.hd-main .info,
.inner-main-content {
    margin-top: 17px;
}

.inner-main-content {
    height: calc(100% - 85px);
}

.tree-wrapper,
.video-wrapper {
    height: 100%;
}

.tree-wrapper {
    width: 219px;
    float: left;
    border-right: #939698 1px solid;
}

.wrapper-header {
    color: #4E4E4E;
    font-size: 14px;
    margin-bottom: 14px;
}

.tree-body {
    padding: 6px 4px;
}

.video-wrapper {
    float: right;
    width: calc(100% - 250px);
}

.search-wrapper {
    bottom: 6px;
}

#video-search {
    float: right;
}

.vrs-live-container {
    margin-left: -43px;
}

.comm_video {
    width: 164px;
    position: relative;
    display: inline-block;
    margin-left: 43px;
}

.comm_video .mo-icons-bg {
    background-position: -174px -437px;
    width: 164px;
    height: 92px;
}

.mo-icons-bg.comm_video_img {
    width: 164px;
    height: 92px;
    background-position: 0 -437px;
}

.mo-icons-bg.comm_video_img_btn {
    display: none;
    width: 164px;
    height: 92px;
    background-position: -348px -437px;
    position: absolute;
    top: 0;
    left: 0;
}

.comm_video_time {
    font-size: 12px;
    color: #aeaeae;
    float: left;
}

.mo-icons-bg.comm_video_viewImg {
    background-position: 0 -539px;
    width: 17px;
    height: 17px;
    float: right;
}

.video-encrypt-icon {
    position: absolute;
    width: 164px;
    height: 92px;
}

.mo-icons-bg.appointment.gm-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    background-position: 0px -967px;
    bottom: 4px;
    right: 64px;
}

.mo-icons-bg.appointment.aes-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    background-position: -28px -967px;
    bottom: 4px;
    right: 64px;
    cursor: default;
}

.mo-icons-bg.gm-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    background-position: 0px -967px;
    bottom: 4px;
    right: 5px;
    cursor: default;
}

.mo-icons-bg.aes-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    background-position: -28px -967px;
    bottom: 4px;
    right: 5px;
}

.comm_video_num {
    float: right;
    font-size: 12px;
    color: #aeaeae;
    margin-left: 4px;
}

.comm_video_title {
    clear: both;
    line-height: 17px;
    font-size: 14px;
    color: #4e4e4e;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    width: 162px;
    min-height: 34px;
}

.domain-name {
    color: #4e4e4e;
    font-weight: bold;
    margin-bottom: 10px;
}

.divider {
    border-bottom: #D4D4D4 1px dashed;
    margin: 2px 0 30px 0;
}

.no-data-wrapper {
    text-align: center;
}

.no-data {
    height: 22px;
    line-height: 22px;
    display: inline-block;
    margin-bottom: 20px;
}

.mo-icons-bg.warm-icon {
    width: 22px;
    background-position: -31px -649px;
    margin-right: 10px;
}

.warm-icon,
.warm-text {
    display: inline-block;
    height: 22px;
    float: left;
}

.warm-text {
    color: #b6b6b6;
}