$kedacom-theme : (
    mo_icons: (
        background: url('~images/mo_icons.png') no-repeat center
    ),
    login-title-logo: (
        display:none
    ),
    movision: (
        display:none
    ),
    icp: (
        display:none
    )
)