.mo_icons{
	background: url(../../images/mo_icons.png?t=6.0.561993445) no-repeat center;
}
.login-logo{
	height: 11px;
    width: 72px;
    background-position: 0px 0px;
   /*  background: url(../../images/mo_icons.png?t=6.0.561993445) no-repeat; */
}
.login-title-logo{
    width: 23px;
    height: 23px;
    background-position: 0px -21px;
    /* background: url(../../images/mo_icons.png?t=6.0.561993445) no-repeat; */
}
.icp a{
	font-family: "Microsoft Yahei";
	color:#606060;
	margin-left:22px;
}
.icp a:hover {
    color: #007ac0;
    text-decoration: underline;
}
