.mo_icons{
	background: url(../../images/mo_icons.png?t=6.0.561993445) no-repeat center;
}
.login-logo{
	height: 11px;
    width: 72px;
    background-position: 0px 0px;
}
.login-title-logo{
	display:none;
}
.movision{
	display:none;
}
.icp{
	display:none;
}
