<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/task  
		http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/mvc   
		http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Initializing Spring root WebApplicationContext时实例化bean，并自动依赖注入 -->

	<!-- 健康检查相关引用 -->
	<bean id="checkListService" class="com.kedacom.movision.common.check.service.CheckListServiceImpl">
		<property name="checkNum" value="0"></property>
	</bean>
	<bean id="appCheckListService" class="com.kedacom.moooo.core.service.AppCheckListServiceImpl" />

</beans>