<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd
		http://cxf.apache.org/jaxrs
		http://cxf.apache.org/schemas/jaxrs.xsd">

	<!-- 核心域CXF -->
	<bean id="ssoCXFServiceCore" class="org.apache.cxf.jaxrs.client.JAXRSClientFactory" factory-method="create">
		<constructor-arg value="${core.sso.cxf.server}" />
		<constructor-arg value="com.kedacom.sdk.sso.cxf.SSOCXFService" />
		<constructor-arg ref="responseProviders" />
	</bean>
	
	<bean id="amsCXFServiceCore" class="org.apache.cxf.jaxrs.client.JAXRSClientFactory" factory-method="create">
		<constructor-arg value="${core.moooo.service.cxf.server}" />
		<constructor-arg value="com.kedacom.platform.cxf.api.AmsCXFService" />
		<constructor-arg ref="responseProviders" />
	</bean>
	
	<bean id="passwordCxfServiceCore" class="org.apache.cxf.jaxrs.client.JAXRSClientFactory" factory-method="create">
		<constructor-arg value="${core.password.cxf.server}" />
		<constructor-arg value="com.kedacom.sdk.passowrd.cxf.PasswordCxfService" />
		<constructor-arg ref="responseProviders" />
	</bean>
	
	<bean id="jmsCXFServiceCore" class="org.apache.cxf.jaxrs.client.JAXRSClientFactory" factory-method="create">
		<constructor-arg value="${core.moooo.service.cxf.server}" />
		<constructor-arg value="com.kedacom.platform.cxf.api.JmsCXFService" />
		<constructor-arg ref="responseProviders" />
	</bean>
	
	<!-- 平台域CXF -->
	<bean id="ssoCXFServicePlat" class="org.apache.cxf.jaxrs.client.JAXRSClientFactory" factory-method="create">
		<constructor-arg value="${plat.sso.cxf.server}" />
		<constructor-arg value="com.kedacom.sdk.sso.cxf.SSOCXFService" />
		<constructor-arg ref="responseProviders" />
	</bean>
	
	<bean id="amsCXFServicePlat" class="org.apache.cxf.jaxrs.client.JAXRSClientFactory" factory-method="create">
		<constructor-arg value="${plat.moooo.service.cxf.server}" />
		<constructor-arg value="com.kedacom.platform.cxf.api.AmsCXFService" />
		<constructor-arg ref="responseProviders" />
	</bean>
	
	<bean id="jmsCXFServicePlat" class="org.apache.cxf.jaxrs.client.JAXRSClientFactory" factory-method="create">
		<constructor-arg value="${plat.moooo.service.cxf.server}" />
		<constructor-arg value="com.kedacom.platform.cxf.api.JmsCXFService" />
		<constructor-arg ref="responseProviders" />
	</bean>
	
	<bean id="meetingCXFServicePlat" class="org.apache.cxf.jaxrs.client.JAXRSClientFactory" factory-method="create">
		<constructor-arg value="${plat.meeting.cxf.server}" />
		<constructor-arg value="com.kedacom.sdk.meeting.cxf.MeetingCXFService" />
		<constructor-arg ref="responseProviders" />
	</bean>
	
	<bean id="passwordCxfServicePlat" class="org.apache.cxf.jaxrs.client.JAXRSClientFactory" factory-method="create">
		<constructor-arg value="${plat.password.cxf.server}" />
		<constructor-arg value="com.kedacom.sdk.passowrd.cxf.PasswordCxfService" />
		<constructor-arg ref="responseProviders" />
	</bean>

</beans>
