<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 自动扫描且只扫描@Controller -->
	<context:component-scan base-package="com.kedacom.sso.portal,com.kedacom.moooo.log4j.controller,com.kedacom.movision.common.check.controller" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
	</context:component-scan>
	<context:component-scan base-package="com.kedacom.sso.portal.util" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
	</context:component-scan>
	<mvc:annotation-driven/>
	<!-- 注解 -->
	<context:component-scan base-package="com.kedacom.sso.portal.aop.*,com.kedacom.moooo.context"></context:component-scan>
	<aop:aspectj-autoproxy />
	
	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver" />

	<!-- jsp -->
	<bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/jsps/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 映射静态资源 -->
	<mvc:resources location="/static/" mapping="/static/**" cache-period="604800" />
	<mvc:resources location="/images/" mapping="/images/**" cache-period="86400" />
	<mvc:resources location="/js/" mapping="/js/**" cache-period="86400" />
	<mvc:resources location="/css/" mapping="/css/**" cache-period="86400" />
	<mvc:resources location="/upload/" mapping="/upload/**" cache-period="86400" />
	<mvc:resources location="/photos/" mapping="/photos/**" cache-period="31556926" />
	<mvc:resources location="/feedAttachment/" mapping="/feedAttachment/**" cache-period="86400" />
	<mvc:resources location="/favicon.ico" mapping="/favicon.ico" cache-period="86400" />
	<mvc:resources location="/error/" mapping="/error/**" cache-period="86400" />
	<mvc:resources location="/login/photos" mapping="/login/photos/**" cache-period="86400" />
	<mvc:resources location="/files/" mapping="/files/**" cache-period="86400" />
	<mvc:resources location="/help/" mapping="/help/**" cache-period="86400" />

	<!-- 拦截器 -->
<!-- 	<mvc:interceptors> -->
<!-- 		<mvc:interceptor> -->
<!-- 			<mvc:mapping path="/**" />如果不配置或/**,将拦截所有的Controller -->
<!-- 			<bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" /> -->
<!-- 		</mvc:interceptor> -->
<!-- 		<mvc:interceptor> -->
<!-- 			<mvc:mapping path="/**" />如果不配置或/**,将拦截所有的Controller -->
<!-- 			<bean id="userLocaleSettingInterceptor" class="com.kedacom.sso.portal.interceptor.UserLocaleSettingInterceptor"> -->
<!-- 				<property name="localeResolver" ref="localeResolver" /> -->
<!-- 			</bean> -->
<!-- 		</mvc:interceptor> -->
<!-- 	</mvc:interceptors> -->

</beans>
