/**
 * CSS File for movision and telecom
 *
 **/

 .mo-icons-bg{
	background:url("../images/mo_icons.png?t=6.0.561993445") no-repeat;
 }
  .mo-icons-telecom-bg{
	background:url("../images/mo-icons-telecom.png?t=6.0.1821658222") no-repeat;
 }
 #header .slash{
 	float:left;
	background-position:0px -633px;
	height:15px;
	width:9px;
	display:inline-block;
	margin-top:39px;
	margin-left:6px;
}
 .login-logo{
 	position: absolute;
 	display:inline-block;
    height: 11px;
    width:72px;
    background-position:0px 0px;
    left: 35px;
    top: 29px;
 }
 .movision-title{
 	font-size: 24px;
    text-align: left;
    vertical-align: top;
    line-height: 24px;
    color: #ccc;
    font-family: "微软雅黑";
 }
 .movision-login-logo{
 	display:inline-block;
 	width:23px;
 	height:23px;
 	margin-right:13px;
 	margin-left: -36px;
 	background-position:0px -21px;
 }
 .telecom-login-logo{
 	display:inline-block;
 	width:23px;
 	height:23px;
 	margin-right:13px;
 	margin-left: -36px;
 	background-position:0px -21px;
 }
 .header-logo{
	background-position:0px -1364px;
	height:60px;
	width:116px;
	display:inline-block;
	margin-top:15px;
	float:left;
 }
 .company-header-title{
 	float:left;
 	margin: 35px 0 0 9px;
 	display: inline-block;
 	height:20px;
 	line-height:20px;
 	font-size: 13px;    
 	font-weight: bold;    
 	color: #4b4b4b;
 	font-family:"微软雅黑";
 }
 #hd-main{
 	font-family:"微软雅黑";
 }
 .about-content .info  .company{
 	text-align:left;
 	margin-top:37px;
 	background:none;
 	height:60px;
 }
 .about-content .info .keda-company,.about-content .info .telecom-company {
	display:inline-block;
	height:60px;
	width:116px;
	background-position: 0px -1364px;	
 }
 .about-content .info .movision-company {
	display:inline-block;
	height:60px;
	width:58px;
	margin-left:7px;
	background-position: 0px -103px;	
 }
 .about-content .info .corpright {
    font-size: 12px;
    margin: 55px 0 47px;
    heigt:12px;
    line-heigth:12px;
}
  .about-content .info .company .displayNone{
	display:none;
		
 }
 .movisionDisplayNone{
 	display:none;
 }
 .movisionDisplay{
 	display:inline-block;
 }
 .movisionDisplayBlock{
 	display:block;
 }
 .movisionDisplayNone{
 	display:none;
 }
 .icp a{
 	font-family:"Microsoft Yahei";
 	color:#606060;
 }
.icp a:hover{
	color:#007ac0;
	text-decoration:underline;
 }
 .displayNone{
 	display:none;
 }
