.head-nav-bg-temp{
	height: 98px;
    position: absolute;
    width: 100%;
    background: #373d41;
    z-index: -100;
    left: 0px;
    top: 0px;
    min-width: 1280px;
}

 .inner-main-content {
	margin-left:0px;

 }
 
 .detail-body{
	position: relative;
	/* overflow:hidden; */
 }
 
 .detail-header .tabs{
	float:left;
	margin-top: 14px;
 }

 .detail-header .tab-item{
	background:#222;
	color:white;
	border:1px;
 }

  .detail-header .tab-item.active{
	background: url("../images/btn-bg-large.png?t=5.0.4050818801") repeat-y scroll 0px 0px #69BEF0;
	border-color: transparent;
	color: #FFF;
 }
.data-li > table {
	width:100%;
}

.mo-dialog-content .info .msg {
    text-align: center;
    font-size: 12px;
    margin-top: 70px;
}
/** 杩欓噷鐨凜SS鏄彸杈硅鎯呯殑css鏂囦欢 **/
body {
	background: #FFFFFF;
}
.detail-header {
	height:59px;
	color:#4e4e4e;
}


.detail-header .title {
	margin-top:16px;
	font-size:12px;
	font-weight:bold;
	float:left;
	
}


.detail-header .operate{
	float:right;
	margin-top: 14px;
}


.wrap-detail {
	position: relative;
}

.detail-body {
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	width: 100%;
	font-size: 12px;
	color:#4e4e4e;
}
.nav-tree-panel{
	overflow:hidden;
}

.nav-tree{
	display: inline-block;
}



.detail-footer {
	bottom: 0;
	height: 45px;
	position: relative;
	text-align: center;
	width: 100%;
}

.detail-content{
   
}

.data-li .title {
	line-height: 30px;
	text-align: left;
	width: 123px;
}


.detail-content .data-li {
	min-height: 30px;
	padding: 6px 0;
	list-style-type: none;
}


.data-li>table {
	height: 100%;
/* 	margin: 0 auto; */
    margin-left:0px;
	width:526px;
}

.max .data-li>table {
	width:638px;
}

.data-li>table td {
	vertical-align: top;
}

.data-li>table td.middle {
	vertical-align: middle;
}

.data-li .sectiontitle {
  	font-weight: bold;
	line-height: 30px;
	padding-left: 47px;
}

.data-li .operate{
 	padding-left: 2px;
}

.data-li .input {
	width:303px;
	vertical-align: middle;
}

.max .data-li .input {
	width:415px;
}

.data-li .e-textarea {
	width:281px;
	vertical-align: middle;
}

.max .data-li .e-textarea {
	width:393px;
}

.data-li .inputDiv{
	position:relative;
}

.data-li .checkDiv {
    position: relative;
    top:2px;
}


.data-li .checkDiv .ez-radio{
	position: relative;
	top: 2px;
}

.data-li .checkDiv .ez-checkbox{
	position: relative;
    top:2px;
}

.data-li .checkDiv .space{
	width:44px;
	display: inline-block;
    *display: inline;
    _zoom:1;
}

.data-li .checkDiv label{
	font-size: 12px;
	color:#616060;
	padding:0 16px;
}

.checkItem{
	display:inline;
}

.checkItem:hover .ez-radio{background-position: -14px -14px;}
.checkItem:hover .ez-selected{background-position: -14px 0; }


.data-li .read {
}

.data-li .e-span {
	line-height: 30px;
}

.detail-content td input {
	outline: 0 none;
	line-height:14px;
	width: 100%;
}

.detail-content td input.btn{
	width: auto;
}

.data-li .e-select {
	background: none;
	border:none;
	border-bottom: 1px solid #C4C4C4;
	height: 28px;
	padding: 3px 0 2px;
}

.data-li .required {
	position: relative;
	top:10px;
}

.data-li .e-span {
	line-height: 30px;
}

.odd {
	background: #F7F6F6;
}


/* 鐢ㄤ簬鏁版嵁鍒楄〃鐨勬搷浣滈潰鏉裤�佸垎椤甸潰鏉垮拰鏍戝瀷闈㈡澘 */
#grid-panel .operate-panel{
  height:30px;
}
#grid-panel .paging-panel{
  height:32px;
}
#grid-panel .menu-panel{
  width:200px;
}


.easyui-layout .tree-search{
	outline: 0 none;
	margin-top:13px;
	margin-left:3px;
	width:132px;
	height:24px;
}

.btn-search{

}
 
.tree-node.marked .tree-title{
	background-color:yellow;
}

.datagrid-toolbar .search-bar .mo-icon30{
	margin-top:-5px;
}
.device-ip-li.data-li .input{
	width:373px;
}

.mo-icons-bg {
    background: url("../images/home/home_img.png?t=6.0.353982950");
}
.sys-info .header-logo.mo-icons-logo-bg {
    margin-top: 34px;
}
.slash {
    display: inline-block;
    margin-top: 36px;
    margin-left: 6px;
    float: left;
}
