$DX6000-theme : (
    
    '.sys-info .header-logo': (
        display: inline-block,
        height: 31px,
        width: 116px,
        background-position: 2px -1028px,
        margin-top:14px,
        float: left,
        cursor: pointer,
    ),
    slash: (
        background-position: 0px -25px,
        height: 18px,
        width: 9px,
    ),
    about_company_logo: (
        height: 31px,
        width: 116px,
        background-position: -124px -1028px,
    ),
    about_company-alternate-logo: (
        display:none,
    ),
    about_netAddress1: (
        color: #007ac0,
        text-decoration: underline,
        font-family: Microsoft YaHei,
        margin-left: 15px,
    ),
    about_netAddress11: (
        display:none,
    ),
    about_netAddress2: (
        display:none,
    ),
)